{% extends 'base.html' %}
{% load static %}

{% block content %}
{% comment %} <form action="" method="post" enctype="multipart/form-data" autocomplete="off" >{% csrf_token %} {% endcomment %}
  <div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
      <div class="container-xl">
        <h1 class="app-page-title">View Document</h1>
      <div class="row gy-4">
        <div class="col-12 col-lg-6">
          <div class="tab-content" id="orders-table-tab-content">
            <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                <div class="app-card app-card-orders-table shadow-sm mb-8">
                  <div class="table-responsive">
                    <table class="table app-table-hover mb-0 text-left">
                      <tbody>
                        <br>
                        <tr>
                          <td><b>Student</b></td>
                          <td>
                            <td>{{ object.user_name }}</td>                            
                          </td>
                        </tr>
                        <tr>
                          <td><b>Cabinet</b></td>
                          <td>
                            {% if object.cabinet == "undergraduate_dissertation" %}
                                    <td>Undergraduate Dissertation</td>
                            {% elif object.cabinet == "masters_thesis" %}
                                <td>Masters Thesis</td>
                            {% elif object.cabinet == "phd_thesis" %}
                                <td>Doctorate Thesis</td>
                            {% elif object.cabinet == "professor_thesis" %}
                                <td>Masters Thesis</td>
                            {% else %}
                                <td>Research</td>
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td><b>Document Type</b></td>
                          <td>
                            {% if object.document_type == "chapter_1" %}
                                <td>Chapter 1</td>
                            {% elif object.document_type == "chapter_2" %}
                                <td>Chapter 2</td>
                            {% elif object.document_type == "chapter_3" %}
                                <td>Chapter 3</td>
                            {% elif object.document_type == "chapter_4" %}
                                <td>Chapter 4</td>
                            {% elif object.document_type == "chapter_5" %}
                                <td>Chapter 5</td>
                            {% elif object.document_type == "chapter_6" %}
                                <td>Chapter 6</td>
                            {% elif object.document_type == "chapter_7" %}
                                <td>Chapter 7</td>
                            {% else %}
                                <td>Final Document</td>
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td><b>Document Title</b></td>
                          <td>
                            <td>{{ object.document_title }}</td>                            
                          </td>
                        </tr>
                        <tr>
                          <td><b>Date</b></td>
                          <td>
                            <td>{{ object.created_at }}</td>                            
                          </td>
                        </tr>
                        <tr>
                          <td><b>Document</b></td>
                          <td>                         
                            <td><a class="btn app-btn-primary" type="application/octet-stream" href="{{object.document.url}}" > View</a></td>
                          </td>
                        </tr> 
                        <tr>
                          <td><b>Notes</b></td>
                          <td>
                            <td>{{ object.notes }}</td>                            
                          </td>
                        </tr> 
                      </tbody>
                    </table>
                    <br>
                    <br>
                  </div><!--//table-responsive-->		
                </div><!--//app-card-->                    
            </div><!--//tab-pane-->
          </div><!--//tab-content-->
        </div><!--//col-->
        <div class="col-12 col-lg-6">
          <div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
            <div class="app-card-header p-3 border-bottom-0">
              <div class="row align-items-center gx-3">
                <div class="col-auto">
                  {% comment %} <h4 class="app-card-title">Document</h4> {% endcomment %}
                </div><!--//col-->
              </div><!--//row-->
            </div><!--//app-card-header-->
            <div class="app-card-body px-4 w-100">
            </div><!--//app-card-body-->
          </div><!--//app-card-->
        </div><!--//col-->
      </div><!--//row-->
      </div><!--//container-fluid-->
    </div><!--//app-content-->
    
    {% comment %} <footer class="app-footer">
      <div class="container text-center py-3">
            <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
          <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a class="app-link" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
          
      </div>
    </footer><!--//app-footer--> {% endcomment %}
  </div><!--//app-wrapper--> 
{% comment %} </form> {% endcomment %}
{% endblock %}


{% block footer %}
    <!-- Javascript -->          
    <script src="{% static "assets/plugins/popper.min.js" %}"></script>
    <script src="{% static "assets/plugins/bootstrap/js/bootstrap.min.js" %}"></script>  

    <!-- Page Specific JS -->
    <script src="{% static "assets/js/app.js" %}"></script> 
{% endblock %}